body {
  background-color: #0a0c1b;
}

.container {
  width: 1440px;
  height: 100vh;
  position: relative;
  /* margin: 40px auto; */
}

.container .big-wrapper {
  background-color: #1c1938;
  border-radius: 10px;
  overflow: hidden;
}

.big-wrapper img {
  width: 100%;
}

.text .wrapper {
  color: white;
  width: 350px;
  padding-right: 20px;
  /* padding: 0 80px; */
}

.text .wrapper h2,
h3,
p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
}

.text .wrapper p {
  font-weight: normal;
  font-size: 14px;
}

.text .wrapper span {
  color: #a25ed7;
}

.text .data {
  margin-top: 50px;
}

.box h3 {
  font-size: 24px;
  margin: 0;
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 992px) {
  .text .wrapper {
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 110vh;
  }

  .big-wrapper {
    width: 375px;
  }

  .wrapper {
    padding: 40px;
    text-align: center;
  }

  .text h2 {
    margin-bottom: 20px;
  }
}
